<div class="container">
  <div class="box cenzor">
    <div class="box__icon">
      <img src="../../assets/images/cenzor.JPG" alt="">
      <h2 class="box__icon-title">Angular list of prohibited words</h2>
    </div>
    <button class="box__btn" [routerLink]="[ '../works/cenzor' ]" routerLinkActive="active">details</button>
  </div>
  <div class="box tasklist">
    <div class="box__icon">
      <img src="../../assets/images/tasklist.JPG" alt="">
      <h2 class="box__icon-title">Angular task list</h2>
    </div>
    <button class="box__btn" [routerLink]="[ '../works/tasklist' ]" routerLinkActive="active">details</button>
  </div>
  <div class="box userlist">
    <div class="box__icon">
      <img src="../../assets/images/userlist.JPG" alt="">
      <h2 class="box__icon-title">Angular users list</h2>
    </div>
    <button class="box__btn" [routerLink]="[ '../works/userlist' ]" routerLinkActive="active">details</button>
  </div>
</div>
